{% extends 'layouts/base.html' %}

{% block content%}

    <h1>Home</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat officiis vero impedit tempora optio! Rerum incidunt error itaque? Vel, expedita cumque officia aliquam neque voluptatibus ut fugit voluptatem? Architecto itaque minima quae magni cumque provident libero est magnam inventore culpa obcaecati, quos nisi doloremque adipisci perspiciatis deleniti odio perferendis possimus id! Itaque aliquam ad praesentium velit nulla nobis consequuntur iure adipisci, iste eaque dicta mollitia consequatur repellat quibusdam fugit. Minus molestias accusamus a recusandae? Pariatur deleniti maxime nam enim atque dolore eos? Maiores dolorem illo, qui maxime laudantium, natus ipsam ut nobis quidem adipisci temporibus distinctio magnam vero iste delectus.</p>

{% endblock %}