{% extends 'layouts/base.html' %}

{% block content %}

    <h1>About</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic aut reiciendis eos at delectus, vero nesciunt sed sint totam? Ab necessitatibus, sunt recusandae reiciendis quibusdam nostrum laboriosam tenetur, deleniti mollitia voluptate fuga eos ut at iure maxime illo? Enim, voluptas nemo, dolorem sapiente culpa quibusdam doloribus libero veritatis minus doloremque commodi ratione tempore ducimus consectetur in, est laborum deleniti et beatae hic perspiciatis voluptatem! Facilis, qui atque. Cumque esse consectetur officiis doloribus earum minima ut aut officia libero cupiditate laborum nulla quasi ipsam ratione ducimus ipsum, facere dignissimos iure explicabo quia consequuntur accusamus. Consequatur, officia. Ullam dicta odit qui placeat?</p>

    <p>Website created by {{username}}</p>

{% endblock %}